extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em Aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis sapiente ullam aperiam distinctio facere laudantium autem, illo voluptates. Numquam veritatis expedita quos dicta vitae ipsam quibusdam eum odio perspiciatis reiciendis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quas numquam similique, facere debitis blanditiis eum eaque excepturi! Quasi, quidem. Illum maxime unde tempore illo sed! Minima minus alias quia.
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 Marzo de 2022
                        p.precio $2.500 USD
    .container 
        h2.mt-5.text-center Testimoniales

        include ./layout/bloque_testimoniales                  