extends ./layout/index 

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iste ab accusantium cum perspiciatis veritatis ex numquam voluptatum magni provident consequuntur necessitatibus incidunt, itaque accusamus suscipit? Odit suscipit eum quisquam.Velit, similique architecto sed sapiente fuga quos veniam modi sunt atque quas, optio tempora soluta consequuntur perspiciatis saepe eveniet laudantium, deserunt qui! Odit atque animi aut in exercitationem eius expedita.Iusto id eum sequi ea quis laboriosam, suscipit adipisci, similique, cum a aliquid repellendus deserunt. Laborum ex quas voluptatem totam, molestias iusto? Doloribus, consectetur! Atque et molestias quaerat optio incidunt!

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, cumque earum nesciunt, sint facere quis numquam mollitia, amet in laboriosam officiis reiciendis ullam placeat maiores. Iste harum eveniet reprehenderit expedita?

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto ex autem suscipit eum aliquam, reprehenderit accusantium inventore natus velit, quidem, omnis quod. Error, hic ut fugit porro culpa recusandae quas.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis atque ipsam eum quos. Pariatur aperiam vero quo doloremque, porro distinctio.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono pestinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis atque ipsam eum quos. Pariatur aperiam vero quo doloremque, porro distinctio.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis atque ipsam eum quos. Pariatur aperiam vero quo doloremque, porro distinctio.
